{
  "extends": ["airbnb-base"],
  "plugins": ["import"],
  "env": {
    "node": true
  },
  "rules": {
    "no-console": "off",
    "camelcase": "off",
    "max-len": "off",
    "no-use-before-define": "off"
  }
}
